*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
}
header{
    height: 100px;
    padding: 20px;
    text-align: right;
    background-image: url(képek/kastely.jpg);
    background-position-y: -250px;
    color: aliceblue;
}
nav{
    color: chartreuse;
    padding-left: 20px;

}
nav a 
{
    color: white;
    text-decoration: none;
}
nav li {
    list-style-type: none;
    padding: 25px;
}
nav ul{
    padding: 0;
}
nav a:hover li{
    color: violet;
    background-color: white
}
footer{
    text-align: center;
    min-height: 50px;
    padding-top: 15px;
}
    



header{background-color: antiquewhite;}
nav{background-color: yellowgreen;}
.jobbsav{background-color: brown;}
.tartalom{ background-color: chartreuse;}
footer{background-color: chocolate;}

#grid-container
{
    display: grid;
    grid-template-columns: auto;

}
/*mobil*/


/*tablet*/
@media only screen and (min-width:600px)
{
    footer{background-color: yellow;}}
    #grid-container{
        grid-template-columns: 25% 75%;
    }
    header{grid-column: 1 / 3;}
    nav{ grid-column: 1;}
    .jobbsav{grid-column: 1;}
    .tartalom{grid-column: 2; grid-row: 2 / 4;}
    footer{grid-column: 1 / 3;}

/*monitor*/
@media only screen and (min-width:1200px)
{
    #grid-container
{   
    width: 1200px;
    grid-template-columns: 25% 55% 20%;
    margin: auto;

}
    footer{background-color: red;}
    
    header{grid-column: 1 / 4;}
    nav{ grid-column: 1;}
    .jobbsav{grid-column: 3;}
    .tartalom{grid-column: 2;}
    footer{grid-column: 1 / 4;}
    
}



